@{
    ViewData["Title"] = "Секретная страница";
}

<div class="text-center">
    <h1 class="display-4">Секретная страница</h1>
    <div class="alert alert-warning">
        Эта страница доступна только авторизованным пользователям!
    </div>
    <p>Добро пожаловать, @Context.Session.GetString("Username")!</p>
    <a href="@Url.Action("Index")" class="btn btn-primary">На главную</a>
</div>