@page
@model Task04.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="container mt-5">
    <h1>Главная страница</h1>
    <p>Добро пожаловать на главную страницу!</p>
    
    <div class="mt-4">
        <h3>Навигация</h3>
        <ul>
            <li><a href="/Items">Список элементов</a></li>
            <li><a href="/Login">Вход в систему</a></li>
            <li><a href="/Protected">Защищенная страница</a></li>
        </ul>
    </div>

    @if (Model.IsAuthenticated)
    {
        <div class="alert alert-success mt-3">
            Вы вошли в систему!
        </div>
    }
</div>